
{
    auto_https off
    admin off
}

:3000 {
    log {
        format console
    }

    route {
        mercure {
            publisher_jwt !ChangeThisMercureHubJWTSecretKey!
            subscriber_jwt !ChangeThisMercureHubJWTSecretKey!
            cors_origins *
            anonymous
            subscriptions
            ui
        }
        respond "Mercure is up and running" 200
    }
}